<div>
  <img class='headerImage img-responsive' src="images/header.jpg">
</div>
<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>About Skills Navigator</h2>
  </div>
  <div class='panel-body'>
    <p>Skills Navigator was started with a vision to provide skill-based training to students who wanted to make a career in skills biased job sectors. The objective was to extend this training to the huge educated and potential manpower base in the rural areas. From that initial focus on Skills Development, Skills Navigator graduated to developing and delivering training programs in urban, semi–urban and rural areas.</p>
    
    <p>The vision of the organization is to skill and employ, 1 million people by the end of 2022, expanding into areas like ----------------------------------------------------------------------------------------------------------------</p>
    <p></p>
  </div>
</div>