<loader loading='loading'></loader>
<div>
  <img class='headerImage img-responsive' src="images/header.jpg">
</div>
<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>Contact Us!</h2>
  </div>
  <div class='panel-body' ng-repeat='item in contact'>
    <p>{{item.address_line_one}}</p>
    <p>{{item.address_line_two}}</p>
    <p>{{item.city}}-{{item.pin}}</p>
    <p>{{item.phone}}</p>
    <p>{{item.email}}</p>
    <p>{{item.website}}</p>
  </div>
</div>