<div>
  <img class='headerImage img-responsive' src="images/header.jpg">
</div>
<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>Courses on Offer</h2>
  </div>
  
  <div class='panel-body'>
  
	<h2>In Following Sector we offer Course</h2>

    <ol type="1">
  		<li>Agriculture</li>
  		<li>Apparel, Made-ups & Home Furnishing</li>
  		<li>Automotive</li>
  		<li>Security</li>
  		<li>Beauty & Wellness</li>
  	</ol>  

<h2>About Courses</h2>

    <ul>
  		<li>As per the Job roles given in the NOS</li>
  		<li>Average Duration 45 days</li>
  		<li>Assessment Fee paid by Govt.</li>
  		<li>Assessment is done by the Sector Skill Council</li>
  	</ul>  
  </div>
</div>