<loader loading='loading'></loader>
<div class='row marginTop-0' ng-hide='loading'>
  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12' uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
    <div class="carousel-img" uib-slide ng-repeat="slide in slides track by slide.id" index="$index">
      <img src="{{slide.slide_url}}" style="margin:auto;">
      <!-- <div class="carousel-caption">
        <p>{{slide.alt}}</p>
      </div> -->
    </div>
  </div>

</div>

<div class='panel panel-success' style='margin-top:20px;' ng-hide='loading'>
  <div class='panel-heading'><h2>Why Skill Development</h2>
  </div>
  <div class='panel-body'>
    <p ng-repeat='item in whySkillsNav'>{{item.desc}}</p>
  </div>
</div>

<div class='panel panel-success' style='margin-top:20px;' ng-hide='loading'>
  <div class='panel-heading'>
    <h2>About us</h2>
  </div>
  <div class='panel-body'>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <p ng-repeat='item in about'>{{item.desc}}</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div ng-repeat='obj in contacts' class="padding10">
        <i ng-class="obj.icon" aria-hidden="true">
        </i>
        <span>{{obj.item}}</span>
      </div>
    </div>
  </div>
</div>

<div class='panel panel-success' style='margin-top:20px;' ng-hide='loading'>
  <div class='panel-heading'>
    <h2>What we do</h2>
  </div>
  <div class='panel-body'>
    <p ng-repeat='item in what_we_do'>{{item.desc}}</p>
  </div>
</div>

<!--
<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>What We Do</h2>
  </div>
  <div class='panel-body'>
    <p ng-repeat='item in whatWeDo'>{{item.desc}}</p>
  </div>
</div> -->
