<loader loading='loading'></loader>
<div class='row marginTop-0'>
  <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12' uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
    <div class="carousel-img" uib-slide ng-repeat="slide in slides track by slide.id" index="$index">
      <img ng-src="{{slide.slide_url}}" style="margin:auto;">
      <div class="carousel-caption">
        <p>{{slide.alt}}</p>
      </div>
    </div>
  </div>
</div>

<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>Why Skill Development</h2>
  </div>
  <div class='panel-body'>
    <p>The current education system does not focus on training young people in employable skills that can provide them with employment opportunities, and a large section of India’s labour force has outdated skills. With the expected economic growth, this challenge is going to only increase further, since more than 75% of new job opportunities are expected to be skill-based. The government, thus, is strongly emphasizing on upgrading people’s skills by providing vocational education and training to them.</p>
    
    <p>Skill and knowledge are the two driving forces of economic growth and social development for any country. Countries with higher level of skills fare better to cope with the challenges of emerging economies in the present day world.</p>

    <p>In any country, youth is primarily the focus for any program for skill development.
    Our country is better placed in this regard. We have a vast majority of population in the productive age group. This provides a great opportunity to India. It also poses a great challenge. Benefits will flow to our economy only if our population, particularly the youth, is healthy, educated and properly skilled.
    India with its an unrivalled youth demographic, is definitely poised for a big boost in terms of socio-economic development. We have 605 million people below the age of 25. They can act as agents of change, by being empowered with various employable skills which will enable them to make impact not only on their lives but also on the lives of other individuals.</p>
  </div>
</div>

<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>Pradhan Mantri Kaushal Vikas Yojana (PMKVY)</h2>
  </div>
  <div class='panel-body'>
    <p>The recently approved Pradhan Mantri Kaushal Vikas Yojana (PMKVY), is a flagship scheme for imparting skill training to youth, focusing on improved curricula, better pedagogy and trained instructors. The training includes soft skills, personal grooming.</p>
  </div>
</div>