<loader loading='loading'></loader>
<div>
  <img class='headerImage img-responsive' src="images/header.jpg">
</div>
<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>Pradhan Mantri Kaushal Vikas Yojana (PMKVY)</h2>
  </div>
  
  <div class='panel-body'>
  
	<h2>Objective</h2>

	<p>The objective of this Scheme is to encourage skill development for youth by providing monetary rewards for successful completion of approved training programs. Specifically, the Scheme aims to:</p>

    <ul>
  		<li>Encourage standardization in the certification process and initiate a process of creating a registry of skills Enable and mobilize a large number of Indian youth to take up skill training and become employable and earn their livelihood.</li>
  		<li>Increase productivity of the existing workforce and align the training and certification to the needs of the country.</li>
  		<li>Provide Monetary Awards for Skill Certification to boost employability and productivity of youth by incentivizing them for skill trainings Reward candidates undergoing skill training by authorized institutions at an average monetary reward of Rs. 8,000 (Rupees EightThousand) per candidate.</li>
  		<li>Benefit to lakhs of youth.</li>
  	</ul>
  </div>
</div>

<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>Quotes</h2>
  </div>
  
  <div class='panel-body'>
	<div ng-init="myVar1 = '/images/modiji.jpg'">
		<img ng-src="{{myVar1}}">
	</div>
	<div align="right" ng-init="myVar2 = '/images/rudy.jpg'">
		<img ng-src="{{myVar2}}"> <br><br>
	</div>  

  	<p>India has marked its presence as one of the fastest growing economies of the world. It is expected to rank amongst the world’s top three growth economies and amongst the top three manufacturing destinations by 2020. With the help of favourable demographic factors and sustained availability of quality workforce, our country is poised to make its imprint on global economy.</p>


    <h2>Key characteristics of the Pradhan Mantri Kaushal Vikas Yojana (PMKVY)</h2>

     <p>A new National Policy for Skill and Entrepreneurship Development has also emerged to cover the entire gamut of initiatives in this direction. The Policy is to lay a roadmap for boosting growth creating quality manpower. It has set a target for skilling 500 million persons by the year 2022.</p>

	<ul>
		<li>Programme aims to impart skill training to youth with focus on first time entrants to the labour market and class 10 and class 12 drop outs.</li>
		<li>Programme will be implemented by the Union Ministry of Skill Development and Entrepreneurship through the National Skill Development Corporation (NSDC) training partners.</li>
		<li>Skill training would be on the basis of skill gap studies conducted by the NSDC.</li>
		<li>Training would include soft skills, personal grooming, behavioral change for cleanliness, good work ethics.</li>
	</ul>

  </div>
</div>