<loader loading='loading'></loader>
<div>
  <img class='headerImage img-responsive' src="images/header.jpg">
</div>
<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>Requirements</h2>
  </div>
  
  <div class='panel-body'>
  
	<h2>Requirements for Admissions</h2>

    <ul>
  		<li>Enrollment Form</li>
  		<li>Age Proof (10th Certificate/Date of Birth/Passport/Pan Card)</li>
  		<li>Qualification Proof of Student (as per course)</li>
  		<li>Passport Size Color Photograph</li>
  		<li>Aadhar Card</li>
  		<li>Bank Details – New Bank Account to open</li>
  		<li>Assessment Fee</li>
  	</ul>  

	<h2>Infrastructure Requirement</h2>

	<h3>General</h3>

    <ul>
  		<li>Classrooms equipped with seating capacity of at least 25 trainees</li>
  		<li>Broadband internet connectivity with 512 mbps speed</li>
  		<li>Biometric Attendance Machine and CCTV Camera</li>
  		<li>LCD Projector</li>
  		<li>Power back up (UPS & Genset)</li>
  		<li>Printer, Scanner & Copier</li>
  	</ul>  
	<h3>Infrastructure as per courses being offered</h3>
  </div>
</div>