<loader loading='loading'></loader>
<div>
  <img class='headerImage img-responsive' src="images/header.jpg">
</div>
<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>Requirements</h2>
  </div>
  
  <div class='panel-body'>

  <h3>Requirements for Admissions</h3>

    <ul>
      <li ng-repeat='item in admission_requirements'>{{item.requirement}}</li>
    </ul>  

  <h3>Infrastructure Requirement</h3>  

  <h4>General</h4>
  
    <ul>
      <li ng-repeat='item in infrastructure_requirements'>{{item.requirement}}</li>
    </ul>  
    <h4>Infrastructure as per courses being offered</h4>
  </div>
</div>