<loader loading='loading'></loader>
<div>
  <img class='headerImage img-responsive' src="images/header.jpg">
</div>

<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>Our Services</h2>
  </div>
  <div class='panel-body'>
    <p ng-repeat='service in services'>{{service.desc}}</p>
  </div>
</div>

<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>Why Skills Navigator</h2>
  </div>
  <div class='panel-body'>
    <p ng-repeat='item in whySkillsNav'>{{item.desc}}</p>
  </div>
</div>

<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>Pradhan Mantri Kaushal Vikas Yojana (PMKVY)</h2>
  </div>
  <div class='panel-body'>
    <p>{{pmkvy.description}}</p>
    <p>{{pmkvy.objective}}</p>
    <p ng-repeat='item in pmkvy_overview'>{{item.desc}}</p>
    <div>
      <ul>
        <li ng-repeat='points in pmkvyCharPoints'>{{points.point}}</li>
      </ul>
    </div>
  </div>
</div>

<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>About Us</h2>
  </div>
  <div class='panel-body'>
    <p ng-repeat='item in about'>{{item.desc}}</p>
  </div>
</div>