<loader loading='loading'></loader>
<div>
  <img class='headerImage img-responsive' src="images/header.jpg">
</div>

<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>Our Services</h2>
  </div>
  <div class='panel-body'>
    <!-- <p ng-repeat='service in services'>{{service.desc}}</p> -->
    <p>We share a common desire to bring about social change by empowering the unemployed and out-of-work youth by training them on vocational skills to make them Eduployable [Educated + Employable].</p>
    <p>This endeavor in turn, is aimed at giving a huge boost to the up scaling economy of the nation by making available, much-needed skilled manpower to the job market.</p>
    <p>Skills Navigator was launched in 2015, and over the years has successfully delivered in the vocational skills space leading to employment for hundreds. The organizations core goal has evolved make self-sufficient, the youth from smaller cities and towns of India who may have completed basic education, but have limited or no skills to make them employable. Many of these boys and girls are forced to seek employment in the larger towns and cities far from their families and support systems and often in unorganized sectors where there is no growth in career or salaries.</p>
  </div>
</div>

<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>Why Skills Navigator</h2>
  </div>
  <div class='panel-body'>
    <!-- <p ng-repeat='item in whySkillsNav'>{{item.desc}}</p> -->
    <p>The current education system does not focus on training young people in employable skills that can provide them with employment opportunities, and a large section of India's labour force has outdated skills. With the expected economic growth, this challenge is going to only increase further, since more than 75% of new job opportunities are expected to be skill-based. The government, thus, is strongly emphasizing on upgrading people's skills by providing vocational education and training to them.</p>
    <p>Skill and knowledge are the two driving forces of economic growth and social development for any country. Countries with higher level of skills fare better to cope with the challenges of emerging economies in the present day world.</p>
    <p>In any country, youth is primarily the focus for any program for skill development.
 Our country is better placed in this regard. We have a vast majority of population in the productive age group. This provides a great opportunity to India. It also poses a great challenge. Benefits will flow to our economy only if our population, particularly the youth, is healthy, educated and properly skilled.</p>
 <p>India with its an unrivalled youth demographic, is definitely poised for a big boost in terms of socio-economic development. We have 605 million people below the age of 25. They can act as agents of change, by being empowered with various employable skills which will enable them to make impact not only on their lives but also on the lives of other individuals.</p>
  </div>
</div>

<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>Pradhan Mantri Kaushal Vikas Yojana (PMKVY)</h2>
  </div>
  <div class='panel-body'>
    <!-- <p>{{pmkvy.description}}</p>
    <p>{{pmkvy.objective}}</p> -->
    <p>The recently approved Pradhan Mantri Kaushal Vikas Yojana (PMKVY), is a flagship scheme for imparting skill training to youth, focusing on improved curricula, better pedagogy and trained instructors. The training includes soft skills, personal grooming.</p>
    <p>The objective of this Scheme is to encourage skill development for youth by providing monetary rewards for successful completion of approved training programs.</p>
    <p>India has marked its presence as one of the fastest growing economies of the world. It is expected to rank amongst the world's top three growth economies and amongst the top three manufacturing destinations by 2020. With the help of favourable demographic factors and sustained availability of quality workforce, our country is poised to make its imprint on global economy.</p>
    <!-- <p ng-repeat='item in pmkvy_overview'>{{item.desc}}</p> -->
    <p>A new National Policy for Skill and Entrepreneurship Development has also emerged..</p>
    <div>
      <ul>
        <!-- <li ng-repeat='points in pmkvyCharPoints'>{{points.point}}</li> -->
        <li>Programme aims to impart skill training to youth with focus on first time entrants to the labour market and class 10 and class 12 drop outs.</li>
        <li>Programme will be implemented by the Union Ministry of Skill Development and Entrepreneurship through the National Skill Development Corporation (NSDC) training partners.</li>
        <li>Skill training would be on the basis of skill gap studies conducted by the NSDC.</li>
        <li>Training would include soft skills, personal grooming, behavioral change for cleanliness, good work ethics.</li>
      </ul>
    </div>
  </div>
</div>

<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h2>About Us</h2>
  </div>
  <div class='panel-body'>
    <!-- <p ng-repeat='item in about'>{{item.desc}}</p> -->
    <p>Skills Navigator was started with a vision to provide skill-based training to students who wanted to make a career in skills biased job sectors.</p>
    <p>The objective was to extend this training to the huge educated and potential manpower base in the rural areas.</p>
    <p>From that initial focus on Skills Development, Skills Navigator graduated to developing and delivering training programs in urban, semi-urban and rural areas.</p>
    <p>The vision of the organization is to skill and employ, 1 million people by the end of 2022, expanding into areas like.</p>
  </div>
</div>