<div>
  <img class='headerImage img-responsive' src="images/header.jpg">
</div>
<div class='panel panel-success' style='margin-top:20px;'>
  <div class='panel-heading'>
    <h1>Working Model</h1>
  </div>

  <div class='panel-body'>
	<h2>NSDC & SSC</h2>
    <ul>
  		<li>Norms, Policies & Monitoring</li>
  		<li>Funding</li>
  		<li>Qualification Packs & National Occupation Standards</li>
  		<li>Complete Assessment Process</li>
  	</ul>  
  	<h2>SKILLS NAVIGATOR</h2>
	<ul>
  		<li>Coordination with NSDC, SSC</li>
  		<li>Course Material</li>
  		<li>Marketing Strategy</li>
  		<li>Logistics & Coordination</li>
  		<li>Placement Assistance</li>
  		<li>Infrastructure, Staff & Faculty</li>
  		<li>Local Promotion & Enrollments</li>
  		<li>Training & Placement</li>
  	</ul>
  </div>
</div>